body{
    background-color: lightgray;
}


h1{
    text-align: center;
    background-color: rgb(252, 186, 3);
    font-family: cursive;
    

}
a:hover
{
    color:greenyellow;
}
h2{
    text-align: center;
    background-color: white;
    color: blue;
    font-size: x-large;

}
h3{
    background-color: white;
    border: solid blue;
    border-radius: 30px;   
    padding-top: 10px;
    padding-bottom: 20px;
    
}
h4{
    text-align: center;
    background-color: white;
    border: solid rgb(252, 186, 3);
    border-radius: 30px;    
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: x-large;
   
}
h5{
    text-align: center;
    background-color: white;
    
    
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: x-large;
   
}
h6{
    
    background-color: white;
    border: solid rgb(252, 186, 3);
    border-radius: 30px;    
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: x-large;
   
}


    

.box1{
    height: 400px;     
    border-radius: 30px;
    border: solid black;
    
}
.box2{
    grid-row-start: 5;
    grid-column-start: 4;
    display: flex;
    align-self: center;
    justify-content: center;
}
.box3{
    grid-row-start: 2;
    grid-column-start: 2;
}
.box4{
    grid-row-start: 2;
    grid-column-start: 3;
}
.box5{
    height: 250px;     
    
}
.box6{
    text-align: center;
}
.box7
{
    
    padding-top: 10px;
    padding-bottom: 20px;
    height: 200px;
}
.Home{
    grid-row-start: 2;
    grid-column-start: 3;
    
}

.Projects{
    grid-row-start: 2;
    grid-column-start: 5;
    
}

.Activities{
    grid-row-start: 2;
    grid-column-start: 7;
    
}

.Contact{
    grid-row-start: 2;
    grid-column-start: 9;
    
}
.Container{
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px;
    grid-gap: 10x;
}


